html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
.container{
    border: 2px solid black;
    border-radius: 2em;
    margin-top: 2em;
}
.row, table{
    padding: 1em;
}

.new-name-row{
    margin: 0 6vw;
}
td, th{
    text-align: center;
}
.form-check-input {
    font-size: 22px;
}
.delete-button:hover{
    color: red;
}
/* Landscape */

/* Landscape iPhonex */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    td:nth-child(5),th:nth-child(5){
        display: table-cell;
    }

    
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .container{
        border: 0;
    }
    div > .week-list{
        width: 76%;
    }
}
@media(max-width:750px){
    body{
        padding: 1px;
    }
    .new-name-row{
        margin: auto;
    }
    .new-name-row > div{
        margin: 2px;
    } 
    #submit,#clear-attendance{
        width: 100%;
    }
    .container-fluid{
        flex-direction: column;
        justify-content: space-around;
    }
   
    table{
        padding: 0px;
        font-size: 14px;
    }
    div > .week-list{
        width: 76%;
    }

}

@media (max-width : 420px) { 
        td:nth-child(5),th:nth-child(5){
            display: none;
        }
        table{
            font-size: 14px;
        }
        div > .week-list{
            width: 76%;
        }
}

.week-list{
    text-decoration: underline;
    border-radius: 0.5rem ;
    height: 4em;
    margin: 1vh;
    color: #fff;
    background-color: var(--bs-blue);
    text-align: center;
    padding-top: 1.2em;   
    width: 30%;
    text-decoration: none; 
    margin: 10px auto ;
}

.week-list:hover{
    color: aliceblue;
}
