.container{
    border: 2px solid black;
    border-radius: 2em;
    margin-top: 2em;
}
.row, table{
    padding: 1em;
}

.new-name-row{
    margin: 0 6vw;
}
td, th{
    text-align: center;
}
@media(max-width:750px){
    body{
        padding: 1px;
    }
    .new-name-row{
        margin: auto;
    }
    .new-name-row > div{
        margin: 2px;
    } 
    #submit,#clear-attendance{
        width: 100%;
    }
    .container-fluid{
        flex-direction: column;
        justify-content: space-around;
    }
    td:nth-child(5),th:nth-child(5){
        display: none;
    }
    table{
        padding: 0px;
        font-size: 14px;
    }

}

@media (max-width : 320px) { 
        td:nth-child(5),th:nth-child(5){
            display: none;
        }
        table{
            font-size: 11px;
        }
    }