.container{
    border: 2px solid black;
    border-radius: 2em;
    margin-top: 2em;
}
.row, table{
    padding: 1em;
}

.new-name-row{
    margin: 0 6vw;
}
@media(max-width:750px){
    body{
        padding: 1px;
    }
    .new-name-row{
        margin: auto;
    }
    .new-name-row > div{
        margin: 2px;
    } 
    #submit{
        width: 100%;
    }
    .container-fluid{
        flex-direction: column;
        justify-content: space-around;
    }
}